.top-menu-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    > ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        > li {
            > a {
                width: 60px;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                padding: 5px;
                color: rgb(90, 90, 90);
                font-weight: bold;
                transition: color .2s ease-in-out, border .2s ease-in-out;
                &.active {
                    border-bottom: 2px solid orange;
                    padding-bottom: 3px;
                }
                &:hover {
                    color: orange;
                }
            }
        }
    }
    .user-info-wrapper {
        span {
            strong {
                color: orange;
            }
        }
        a {
            cursor: pointer;
            color: blue;
            font-weight: 600;
            &:hover {
                color: red;
            }
        }
    }
}